@import "global.css";

.footer {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer .container h1 {
    padding-top: 1em;
}

.form {
    -webkit-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: #fff;
    padding: 4em 3em;
}
.footer .container .form h3 {
    font-family: "Pattaya", sans-serif !important;
}

.input-group {
    margin: 2em 0;
}
.container{
    padding-top: 60px
}#map {
     height: 400px;
     /* The height is 400 pixels */
     width: 100%;
     /* The width is the width of the web page */
 }

input{
    margin: 1em 0;
}