@import "global.css";

body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

.personal-img {
    border-radius: 50%
}

.cv {
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    margin-top: 2em;
    padding: 5em 3em;
}
h1{
    font-size: 80px;
    padding: 5em 0;
}
p {
    padding-top: 2em;
}