@import "global.css";

.footer {
    min-height: 100vh;
    background: #bc4e9c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.white {
    color: #fff !important;
}

.footer .container h1 {
    padding-top: 1em;
}

.form {
    -webkit-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: #fff;
    padding: 4em 3em;
}

.footer .container {
    padding-bottom: 10em;
}

.footer .container .form h3 {
    font-family: "Pattaya", sans-serif !important;
}

.input-group {
    margin: 2em 0;
}
