@import "global.css";
@import "swiper.css";

body {
    background-color: #121212;
}
h1 {
    color: #fff;
}

.gradient-divider {
    height: 2px;
    background: linear-gradient(to right, #f80759, #bc4e9c);
}

.content {
    padding: 5em 2em;
}

.swiper-slide img {
    height: 500px
}