@import "global.css";

body {
    background: #FFEFBA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

.huge-h1 {
    font-size: 80px;
    padding-bottom: 1em;
}

.content {
    padding: 5em;
}

.gallery-img {
    width: 100%;
    height: 400px;
}

img {
    -webkit-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
}
.navigation{
    text-align: center;
    background-color: #fafafa;
    padding: 2em;
}
.navigation a {
    text-decoration: none;
    color: #002c52;
    font-weight: bold;
    text-align: center;
}
