@import "global.css";
@import "swiper.css";

body {
    background-color: #fdf9f6;
}


.content {
    padding: 5em 2em;
}

.swiper-slide img {
    height: 500px
}

img {
    -webkit-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 39px -23px rgba(0, 0, 0, 0.75);
}