@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=KoHo:wght@300;400;500&display=swap');

h1 {
    font-family: 'Fredoka One', cursive !important;
}

button {
    font-family: 'KoHo', sans-serif !important;
    box-shadow: 8px 14px 13px -17px rgb(0 0 0);
}

h4, h5, h6, p, li, a {
    font-family: 'KoHo', sans-serif !important;
}

.default-btn {
    border: 1px solid transparent;
    background-color: #1b204e;
    color: #fff;
    padding: 0.5em 0;
    width: 300px;
    -webkit-transition: 0.3s linear;
    cursor: pointer;
    font-weight: bold;
}

.secondary-btn {
    border: 1px solid transparent;
    background-color: #FFEFBA;
    color: #121212;
    padding: 0.5em 0;
    width: 300px;
    -webkit-transition: 0.3s linear;
    cursor: pointer;
    font-weight: bold;
}

.default-btn:hover {
    background-color: #242b68;
    transition: 0.5s linear;
}

::-webkit-scrollbar {
    height: 1em;
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: #282828;
    border-radius: 10px;
}

.divider {
    background-color: #eee;
    height: 1px;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

nav a {
    font-weight: bold;
    color: #121212 !important;
}

.custom-container {
    padding: 5em 10em;
}

.silver {
    color: #b3acac;
}

.inline {
    display: inline-flex;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .col, .col-sm {
        margin-top: 2em;
    }
}