@import "global.css";
.navigation{
    text-align: center;
    background-color: #fafafa;
    padding: 2em;
}
.box{
   margin-right: 2em;
    margin-top: 2em;
    padding-right: 2em;
    border-right: 1px solid #ff8543;
}
.navigation a {
    text-decoration: none;
    color: #002c52;
    font-weight: bold;
    text-align: center;
}
