/** @format */

@import "./global.css";

.navigation{
    background-color: #FFEFBA;
    height: 100vh;
    text-align: center;
    margin-right: 2em;
}
.navigation a {
    text-decoration: none;
    color: #002c52;
    font-weight: bold;
    text-align: center;
}
.navigation-link{
    padding: 2em 0;
}

.navigation-link:first-child{
}
.main-content{
    height: 100vh;
}

.box-7 h5 {
    background-color: #ff8543;
    color: #fff;
    padding: 2em;
}
